<p id="notice"><%= notice %></p>

<p>
  <strong>Mass:</strong>
  <%= @schedule_candidate.mass %>
</p>

<%= link_to 'Edit', edit_schedule_candidate_path(@schedule_candidate) %> |
<%= link_to 'Back', schedule_candidates_path %>
